{% extends 'default.html' %}

{% block body %}

{% include 'navbar.html' %}

<div class="container">
    <form class="form-inline">
        <div class="form-group">
            <fieldset class="form-group">
                <label for="neighborhood-id">Neighborhood: </label>
                <select name="neighborhood" class="form-control" id="neighborhood-id">
                    <option value="" disabled selected>Choose a neighborhood from the following list</option>
                    {% for neighborhood in neighborhoods %}
                        <option value="{{ neighborhood }}">{{ neighborhood }}</option>
                    {% endfor %}
                </select>
                <button type="button" class="btn btn-primary" id="submit">Submit</button>
            </fieldset>
        </div>
    </form>

    <h1>Median House Prices</h1>
    <div id="median-housing"></div>
    <h1>Taxi</h1>
    <div id="taxi-data"></div>
    <h1>Crime</h1>
    <div id="crime-data"></div>
</div>

<script src="../static/js/get_neighborhood.js"></script>
<script src="../static/js/load_json.js"></script>
<script>
    $(document).ready(function () {
        $('#submit').click(function () {
            var neighborhood_name = $('#neighborhood-id').val();
            loadJSON(neighborhood_name);
        });
    });
</script>

{% endblock %}